<div class="card mycard" style="border: blue 3px solid" [ngClass]="{increase:isPositive(),decrease:isNegative()}">
    <h6>Summary Component</h6>
    <img class="card-img-top" src="../assets/photo.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        {{stock?.symbol?.toUpperCase()}}  <br>
        {{stock?.lastTradePriceOnly | currency: 'USD':'symbol':'.2'}} <br>
        {{stock?.change | currency:'USD':'symbol':'.2'}} 
        ({{stock?.changeInPercent | percent:'.2'}})  <br>
      </h5>
      
      <p class="card-text">
      </p>
      <a href="#" class="btn btn-primary" onclick='alert(stock.symbol)'>Check</a>
    </div>
</div>
